<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pic - 만들기</title>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/cropperjs/1.6.1/cropper.min.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" th:href="@{/css/picMake.css}">
</head>
<body>
    <h2>Pic 만들기</h2>
    <form action="/picMake" method="post" enctype="multipart/form-data">
        <div>
            <label for="pic">1. Pic 불러오기:</label>
            <input type="file" id="pic" name="pic" accept="image/*" capture="camera" required>
        </div>
        <div id="imageContainer" style="display: none;">
            <img id="image">
            <button id="zoomIn" type="button">+</button>
            <button id="zoomOut" type="button">-</button><br>

<!--            <input type="hidden" id="zoomLevel" name="zoomLevel">-->

            <button id="moveRight" type="button">&larr;</button>
            <button id="moveLeft" type="button">&rarr;</button>
            <button id="moveDown" type="button">&uarr;</button>
            <button id="moveUp" type="button">&darr;</button>

            <label for="pic">2. Pic 자르기:</label>

            <button id="confirm">Pic 자르기</button> <!-- 확인 버튼 추가 -->

            <div id="cropStatusMessage" style="display: none;"></div>


            <!--모달창 시작-->
            <div id="croppedImageModal">
                <div>
                    <span id="closeModal">&times;</span>
                    <img id="previewCroppedImage" src="">
                </div>
            </div>


            <div>

            <label for="picCategory">힌트2 분류:</label>
            <select id="picCategory" name="picCategory" required>
                <option value="">예: 버거</option>
                <option value="한식">족발.보쌈</option>
                <option value="양식">돈까스.회.일식</option>
                <option value="일식">고기.구이</option>
                <option value="중식">피자</option>
                <option value="분식">찜.탕.찌개</option>
                <option value="피자">양식</option>
                <option value="버거">중식</option>
                <option value="분식">아시안</option>
                <option value="분식">치킨</option>
                <option value="분식">백반.죽.국수</option>
                <option value="분식">버거</option>
                <option value="분식">분식</option>
                <option value="분식">카페.디저트</option>
            </select>
        </div>
            <div>
            <label for="picTitle">메뉴명:</label>
            <input type="text" id="picTitle" name="picTitle" placeholder="예: 상하이 스파이스 치킨버거 콤보" required>
            </div>
            <div>
            <label for="picHint">힌트1:</label>
            <input type="text" id="picHint" name="picHint" placeholder="예: 오우~ 놀줄아는 놈인가?" required>
            </div>
            <div>
            <label for="picStore">힌트3 가게명:</label>
            <input type="text" id="picStore" name="picStore" placeholder="예: 맥도날드" required>
            </div>

        <div>
            <button type="submit">3. Pic 업로드</button>
            <!-- 오류 메시지 표시 -->
            <div th:if="${message}" th:text="${message}" class="message" style="display: block;"></div>
        </div>


    </form>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/cropperjs/1.6.1/cropper.min.js"></script>
    <script th:src="@{/js/picMake.js}"></script>
</body>
</html>